body {
  margin: 0;
  background-color: var(--bg);
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input::placeholder {
  color : grey;
}

a {
  text-decoration: none;
}

/* SIGN-UP page */
.label-form {
  font-size: 12px;
  margin-left: 5px;
}

.correctPw, .incorrectPw, .pw-check__notice {
  font-size: 12px;
  margin-left: 8px;
  color: #2882ff
}

.pw-check__notice {
  color : grey;
}

.incorrectPw {
  color: #ff597d
}

/* Comment Components */